/*Theme application*/
$color-primario: #e50914;
$color-secundario: white;
$color-terciario: black;

@mixin info-styles($background: $color-terciario, $color: $color-secundario, $direction: row) {
    background-color: $background;
    color: $color;
    display: flex;
    flex-direction: $direction;
}

@mixin button-styles($height: 28px, $width: 100px) {
    height: $height;
    width: $width;
    background-color: $color-primario;
    color: $color-secundario;
    border: none;
    border-radius: 3px;
}

@mixin text-styles($color: $color-secundario) {
    color: $color;
}

body {
    margin: 0;
    background-color: black;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#inicio {
    width: 100%;
    min-width: 320px;
    height: 100vh;
    background: rgb(2,0,36);
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5) 40%, rgba(0,0,0,0.8) 75%), url('https://assets.nflxext.com/ffe/siteui/vlv3/23c72870-12c8-4682-9f55-337a083ccfa7/96fce40c-46e0-43c1-b7f5-d9e0baa82d5d/MX-es-20211129-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-position: center;
    background-size: cover;
    border-bottom: 5px solid grey;
    .inicio-header {
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.4rem;
        &-left {
            display: flex;
            height: 70px;
            padding-left: 1rem;
            align-items: center;
        } 
        .inicio-header-right {
            display: flex;
            height: 70px;
            justify-content: space-between;
            padding: 0 1rem 0 0;
            select {
                @include button-styles;
                background: rgba(0,0,0,0.4);
                align-self: center;
                border: 1px solid #aaa;
                padding: 0.25rem 1.375rem;
                width: 78px;
            }
            button {
                margin-left: 0.5rem;
                align-self: center;
                @include button-styles;
            } 
        }

        .inicio-header-right::before {
            font-size: .75rem;
            content: '\e896';
        }
        
    }
    .inicio-textos {
        height: calc(100vh - 70px);
        max-width: 950px;
        @include text-styles;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        h1 {
            font-size: 1.75rem;
            text-align: center;
            margin: 1rem 0;
            padding: 0 1rem;
        }
        p {
            font-weight: 300;
            font-size: 1.125rem;
            text-align: center;
            margin: 0;
            padding: 0 1rem;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: calc(100% - 55px);
            input {
                height: 48px;
                width: 100%;
                margin: 0;
                border: solid 1px#8c8c8c;
                border-radius: 3px;
                padding-left: 1rem;
            }
            button {
                @include button-styles(40px, 122px);
                margin-top: 1rem;
            }
        }
    }
    .inicio-textos > :nth-child(2), .inicio-textos > :nth-child(3) {
        margin-bottom: 1rem;
    }
}


#infomacion {
    .informacion-subseccion {
        padding: 1rem 0;
        border-bottom: 5px solid grey;
        @include info-styles(transparent,white, column);
        &-left {
            background-color: $color-terciario;
            * {
                text-align: center;
            }
        }
        &-right {
            position: relative;
            img {
                width: 100%;
                height: 100%;
                z-index: 1;
            }
            .video {
                width: auto;
                height: auto;
                position: absolute;
                top: 50px;
                left: calc(50% - 120px);
                z-index: -1;
                video {
                    width: 240px;
                    height: auto;
                }
            }

        }
    }
}

@media screen and (min-width: 950px){
    #inicio {
        .inicio-textos {
            h1 {
                font-size: 4rem;
            }
            p {
                font-size: 1.5rem;
            }
            form {
                width: 950px;
                max-width: 950px;
                flex-direction: row;
                input {
                    width: 70%;
                }
                button {
                    @include button-styles(52px, 20%);
                    margin: 0;
                    margin-bottom: 0;
                }
            }
        }
    }    
}